html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

#root {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin: auto;
  width: 100%;
}

.transparent {
  opacity: 0;
  transition: opacity 0.5s;
}

.grecaptcha-badge {
  visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-lg {
  font-size: 1.6em;
}

@media screen and (max-width: 768px) {
  #root {
    width: 90%;
  }
}

@media screen and (min-width: 769px) {
  #root {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  #root {
    width: 30%;
  }
}

.lds-ring {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  transition: opacity 0.5s;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
